{% if messages %}
<!-- This code is based on Code Institute walkthrough I think therefore I blog -->
<div class="messages"> 
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-sm alert-{{ message.tags }}" id="msg" role="alert" {% endif %}>
        {{ message }}
    </div>
    {% endfor %}
</div>

<script>
    setTimeout(function() {
        let messages = document.getElementById('msg');
        let alert = new bootstrap.Alert(messages);
        alert.close();
    }, 2500);
</script>
{% endif %}