{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Delete Confirmation</h1>
            <p class="lead">Are you sure you want to delete this?</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <form method="POST" action="{% url 'delete-confirmation-income' income.id %}" class="ui form">
                    {% csrf_token %}
                    <a href="{% url 'income-delete' income.id %}" type="button" class="btn btn-danger btn-lg px-4 me-md-2 fw-bold">Delete</a>
                    <a href="{% url 'income' %}" type="button" class="btn btn-outline-secondary btn-lg px-4">Cancel</a>
                    </form>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg mb-4">
            <img class="rounded-lg-3 img-fluid" src="https://res.cloudinary.com/katzur/image/upload/v1661049681/3567801_xo4xbr.jpg" alt="Picture of a broken piggy bank" width="600px" id="deleteconfimg">
        </div>
    </div>
</div>

{% endblock %}