{% extends 'admin/base.html' %}

{% block branding %}

<style>
    #branding h1,
    #branding h1 a:link,
    #branding h1 a:visited {
        color: white!important;
        font-family: monospace!important;
    }
    
    #header {
        background: #65928a!important;
    }

    #user-tools {
        color: #ffd7a0!important;
        font-weight: bold!important;
    }

    .module h2, .module caption, .inline-group h2 {
        background: #65928a!important
    }

    #content-related .module h2 {
        color: whitesmoke!important;
    }

    .model-group {
        display: none;
    }

    div.breadcrumbs {
    background: #4c706a!important;
    margin-bottom: 1em;
    font-family: 'ROBOTO', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    }

</style>

<h1 id="head">
    <img src="https://res.cloudinary.com/katzur/image/upload/v1661438913/Logo_500x500_px_un0uxz.png" width="150"
        length="100" alt="YESMoney Logo" />Administration
</h1>

{% endblock %}