{% extends 'base_auth.html' %}

{% block content %}
<form action="{% url 'login' %}" method="post">
    <img src="https://res.cloudinary.com/katzur/image/upload/v1659792607/Logo_500x500_px_nh5sef.png" alt="YESMoney logo"
        width="300" height="300" class="img-fluid">
    <h1 class="h3 mb-3 fw-normal">Login to your account</h1>

    {% csrf_token %}

    {% include 'partials/_messages.html' %}

    <div class="form-floating justify-content-center">
        <input type="text" name="username" class="form-control form-control-sm" id="usernameField"
            placeholder="Username" value="{{fieldValues.username}}">
        <label for="usernameField">Username</label>
    </div>
    <div class="form-floating justify-content-center">
        <input type="password" name="password" class="form-control form-control-sm" id="passwordField"
            placeholder="Password">
        <label for="passwordField">Password</label>
    </div>

    <div class="form-check form-switch mb-3 mt-3 justify-content-center">
        <input class="form-check-input" type="checkbox" name="checkbox" id="showPasswordToggle">
        <label class="form-check-label" id="checkboxDescription" for="showPasswordToggle">Show the password</label>
    </div>

    <button class="w-100 btn btn-lg btn-success justify-content-center submit-btn" type="submit"
        value="Login">Login</button>

        <div class="container mt-4 mb-4">
            <span style="color: black!important;">Don't have an account?</span>
            <a href="{% url 'register' %}" type="button" class="btn btn-primary btn-sm">Register</a>
        </div>
    <p class="mt-5 mb-3 text-muted justify-content-center">&copy; YESMoney 2022</p>
</form>

<script>
    const checkbox = document.querySelector("#showPasswordToggle");

    checkbox.addEventListener("click", (e) => {
        if (e.target.checked) {
            checkboxDescription.textContent = "Show the password";
            passwordField.setAttribute("type", "text");
        } else {
            checkboxDescription.textContent = "Hide the password";
            passwordField.setAttribute("type", "password");
        }
    });
</script>

{% endblock content %}