{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<form action="{% url 'password_reset' %}" method="post">
    <img src="https://res.cloudinary.com/katzur/image/upload/v1659792607/Logo_500x500_px_nh5sef.png" alt="YESMoney logo"
        width="300" height="300" class="img-fluid">
    <h1 class="h3 mb-3 fw-normal">Please enter your email to get a reset password link</h1>

    {% csrf_token %}
    {form.as_p}

    {% include 'partials/_messages.html' %}

    <div class="form-floating justify-content-center">
        <input type="email" name="email" class="form-control form-control-sm" id="emailField" placeholder="Email"
            value="{{values.email}}">
        <label for="emailField">Email address</label>
    </div>
    <div class="EmailFeedbackArea invalid-feedback" style="display:none">
    </div>

    <button class="w-100 btn btn-lg btn-success justify-content-center submit-btn mt-4" type="submit">Submit</button>
    <p class="mt-5 mb-3 text-muted justify-content-center">&copy; YESMoney 2022</p>
</form>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}