{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>YESMoney</title>

    <link href="https://getbootstrap.com/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/examples/dashboard/dashboard.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://res.cloudinary.com/katzur/image/upload/v1659794036/favicon_jqzlwt.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>

    <style>
        .pagination {
            justify-content: end;
        }

        .sidebar {
            position: initial;
        }
        
        .offset-lg-1 {
        margin-left: 1em!important;
        }

        .shadow-lg {
        box-shadow: none!important;
        }
    </style>
</head>

<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">YESMoney</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav px-3 mx-3">
            <div class="nav-item text-nowrap" style="display: flex; flex-direction: row; align-items: center; margin-right: 3.3em;">
                <form class="nav-item text-nowrap">
                    <span class="nav-link px-3" href="">
                        ({{request.user.username}})
                    </span>
                </form>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <input class="text text-capitalize" type="submit" value="Sign out">
                </form>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            {% include 'partials/_sidebar.html' %}

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                {% block content %}

                {% endblock content %}

            </main>


            <script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>

            <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
                integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
                crossorigin="anonymous"></script>
            <script src="https://getbootstrap.com/docs/5.2/examples/dashboard/dashboard.js"></script>
</body>

</html>